# Python cache files
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Windows files
Thumbs.db

# macOS files
.DS_Store